venv/
Manifest.toml
tmp/
.vscode/
**/__pycache__
**/.DS_Store
*.tar.gz

__pycache__
*.DS_Store
tmp*
venv
print_results*
evaluation/benchmark/test*
evaluation/benchmark/generated/test*
evaluation/models/*.csv
evaluation/models/test*
evaluation/models/generated/test*
evaluation/test
run_n.py
combine_n.py
*.tar.gz