__pycache__
*.DS_Store
tmp*
venv
print_results*
evaluation/lp_results.csv
evaluation/lmh_results.csv
compare/webppl/results.csv
compare/gen/results.csv
evaluation/benchmark/test*
evaluation/benchmark/generated/test*
run_n.py
combine_n.py