__pycache__
*.DS_Store
tmp*
venv
print_results*
# evaluation/lp_results*
# evaluation/lmh_results*
# compare/webppl/results*
# compare/gen/results*
evaluation/benchmark/test*
evaluation/benchmark/generated/test*
run_n.py
combine_n.py